@import url(./reset.css);

* {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

/* HOME AND NAVOIGATION-BAR SECTION */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}

header img{
    width: 10%;
}

.fa-solid{
    display: none;
}

/* BODY */

body {
    background-attachment:fixed;
}

p {
    font-style:italic;
    text-decoration:rgb(109, 168, 120) underline
}
h1 {
    border-style: dotted;
    font-family:"Pres Start 2P","consolas",sans-serif;
    margin-right:auto;
    margin-left:auto;
}
h2 {
    margin-left:auto;
    margin-right:auto;
}

